absl-py==2.1.0
chex==0.1.88
click==8.1.8
cloudpickle==3.1.1
contourpy==1.3.1
cycler==0.12.1
diffrax==0.6.2
equinox==0.11.11
etils==1.11.0
Farama-Notifications==0.0.4
flax==0.10.2
fonttools==4.55.7
fsspec==2024.12.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
gymnax==0.0.8
humanize==4.11.0
importlib_resources==6.5.2
jax==0.5.0
jaxlib==0.5.0
jaxtyping==0.2.37
joblib==1.4.2
julia==0.6.2
juliacall==0.9.23
juliapkg==0.1.15
kiwisolver==1.4.8
kozax==0.0.4
lineax==0.0.7
markdown-it-py==3.0.0
matplotlib==3.10.0
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
msgpack==1.1.0
nest-asyncio==1.6.0
numpy==2.2.2
opt_einsum==3.4.0
optax==0.2.4
optimistix==0.0.10
orbax-checkpoint==0.11.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
protobuf==5.29.3
Pygments==2.19.1
pyparsing==3.2.1
pysr==0.14.2
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
rich==13.9.4
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
semver==3.0.4
setuptools==75.8.0
simplejson==3.19.3
six==1.17.0
sympy==1.13.3
tensorstore==0.1.71
threadpoolctl==3.5.0
toolz==1.0.0
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2025.1
wadler_lindig==0.1.3
zipp==3.21.0
